@font-face {
    font-family: 'Recoleta';
    src: url('../../assets/RecoletaAlt-Bold.ttf');
}

.imagen {
    width: 12rem;
    height: 12rem;

}

.container {
    display: flex;
    margin: 1.5rem;
    gap: 1rem;
}

.buttonDel {
    background-color: aliceblue;
}

.carritoInfo span {
    font-size: 1.6rem;
    font-family: 'Recoleta';
    color: black;
}

.carritoInfo p {
    font-size: 1.6rem;
    font-family: 'Recoleta';
}

.carritoButtons {
    display: flex;
    gap: 2rem;
    color: black;

}

.carritoButtons button {
    height: 2rem;
    width: 2rem;
}

.carritoName {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media screen and (max-width: 1024px) {
    .imagen {
        display: block;
        width: 15rem;
        height: 15rem;
    }
}