@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");

:root {
	--main-red: #ff002f;
	--bgLight: #ededed;
	--bgDark: #1d1d1d;
}

.home1 {
	background-color: var(--bgLight);
}

.home1 img {
	width: 100%;
	margin-top: 3rem;
}

.img {
	height: 80vh;
	width: 20vw;
}

.container {
	width: 100%;

	display: flex;
	justify-content: center;
}

.container::-webkit-scrollbar {
	display: none;
}

.container2 {
	position: absolute;
}

.container3 {
	display: flex;
	position: absolute;
	flex-direction: row-reverse;
	align-items: flex-end;
	position: absolute;
	margin-top: 17.8rem;
	width: 48.5rem;
	height: 32rem;
}

.cuellito {
	margin-bottom: 4.4rem;
	margin-right: 30px;
}

.collection {
	margin-top: 9.5rem;
	margin-left: 10.5rem;

	position: absolute;
	width: 35rem;
}

.comments {
	font-size: rem;
	font-family: "Oswald";
	font-weight: 900;
}

.video {
	margin-top: 13%;
	margin-left: -1rem;
}

.gif {
	margin-bottom: 4.5rem;
	padding-right: 2rem;
	width: 20rem;
	height: 22rem;
}

.fondoSection {
	background-color: #ededed;
	background-repeat: no-repeat;
	background-size: cover;
	color: red;
}

.sectionCarousel {

	background-image: url('../../assets/carrusel.jpg');

	background-repeat: repeat;
	background-size: contain;
	background-attachment: fixed;
}

.homeContainer {
	background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190828/pngtree-hamburger-background-with-meat-cheese-and-salad-flat-style-cartoon-illustration-image_307739.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 1;
	height: 47rem;

}

.homeContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.homeContainer div{
	margin-left: 10rem;
	
}

.homeContainer h1{
	font-size: 3rem;
	font-family: 'Oswald';
}

.homeContainer p {
	font-size: 1.5rem;
	font-family: 'Oswald';
}

.homeContainer button {
	background-color: var(--main-red);
	color: white;
	font-size: 1.5rem;
	font-family: 'Oswald';
	border: none;
	border-radius: 10px;
	padding: 1rem;
}


.allInfo {
	display: flex;
	flex-direction: column;
}

.info1 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4rem;
	margin-top: 8rem;
}

.info1 img {
	width: 35rem;
	border-radius: 20px;
}

.info1 h1 {
	font-family: "Oswald";
	font-weight: 900;
	font-size: 3rem;
	width: 70%;
}

.info2 {
	display: flex;
	justify-content: center;
	margin-top: 5rem;
}

.info2Container {
	width: 70%;
}

@media screen and (max-width: 768px) {
	.info1 {
		flex-direction: column;
	}

	.info1 img {
		width: 100%;
	}

	.info1 h1 {
		width: 100%;
	}

	
}